<div class="container">
  <h3>about CBS</h3>
  <p>CBS hosts campers of all backgrounds for summer-time programs. Send us your computer for an overnight stay and they will come back changed for the better.<br/> Overstressed? Unplug and recharge batteries. Possessed by Demons? Advanced programs offer exorcisms that will get the bugs out. Suffering an identiy crisis? We can update software and repair permissions. <br/>Whatever your computer is dealing with, our counselors can provide guidance and comfort along the way.</p>

</div>
